[2018-09-20 03:56] ronaldtse opened #1 "Create `relaton-cli` gem"
We should create the `relaton-cli` gem to allow fetching bibliographic references using `isobib`, `iecbib`, `ietfbib`, `gbbib`, etc. into Relaton XML files.

[2018-09-27 04:13] ronaldtse commented on #1
What it’s suppsed to do:

1. fetch a single Relaton xml via supported sources (ISO, IEC, IETF...)
2. generating a Relaton XML via Relaton YAML
3. combine multiple Relaton YAML/XML files into a single Relaton collection.

[2018-09-27 19:22] ronaldtse opened #2 "Relation index should be using a given HTML template for styling purposes"
As title.

We now give a CSS file for Relaton to generate the index, but we should also give an HTML file with partials (or in the input YAML) so that Relaton can build different structured indexes for different sites.

[2018-09-27 19:23] ronaldtse opened #3 "Combine relaton-yaml-xml and relaton-xml-html executables"
Both of these should really be in the same CLI executable.

[2018-09-29 03:04] opoudjis opened #4 "Extract Relaton XML from a set of Metanorma XML documents"
We have a set of Metanorma XML documents named in the YAML file driving the generation of manifests.

Add functionality to extract relaton-xml bibdata from each of the Metanorma documents named in the YAML file, and dump them into a separate nominated directory, with the file name of each being their document identifier. This satisfies the requirement of generating base documents for an API.

[2018-09-29 03:14] opoudjis commented on #1
I'm keeping these three as separate executables for now.

[2018-09-29 03:15] opoudjis opened #5 "Create rspec for gem"
Once executables functionality has settled down

[2018-09-29 03:36] opoudjis opened #6 "Explicit URIs in YAML and relaton-xml for each output format, including relaton xml itself"

[2018-09-29 03:54] opoudjis commented on #1
1. Done:

`exe/relaton-fetch -t "isobib" -y 1998 "ISO 639-2"`

[code]

[2018-09-29 04:08] opoudjis commented on #1
I will implement the naive version of this, iterating through the contents of a folder, finding any XML files, and concatenating them into a collection. If the contents are YAML files, convert them in place to XML, and concatenate  them into a collection.

If there is a more elaborate structure to extract from existing files, that is generated by #4.

[2018-09-29 04:38] opoudjis commented on #1
Implemented 3:

`exe/relaton-concatenate test`

Iterates through ARGV[0] directory. If any *.yaml files in the directory, convert them into Relaton XML files, using `relaton-yaml-xml`. Then, iterate through all *.xml files in the directory, and wrap their contents with `<relaton-collection>`.

[2018-09-29 04:39] #1 closed

[2018-09-29 04:42] opoudjis commented on #3
I have just used relaton-yaml-xml on its own in relaton-concatenate, without requiring any HTML functionality. If we do combine them, the XML > HTML functionality  needs to be optional.

[2018-09-29 06:36] ronaldtse commented on #1
I think this:

`relaton` could open an interactive shell. Inside you can access commands like `fetch`.

The `fetch` syntax should take “iso” instead of “isobib”.

In fact we can do this:
`$ relaton fetch -t iso -y 2010 “ISO 639”`
?

We want to combine the other scripts into a single executable as “sub commands” like “fetch”. We can refer to “digicert-cli” that uses this structure.

[2018-09-29 06:41] ronaldtse commented on #3
We can use a “sub command” structure like “Relaton convert xml2html [options]”

[2018-09-29 08:58] opoudjis commented on #2
Done. There is now a default built-in HTML Liquid template in the gem, and a Liquid template can also be passed as a parameter to exe/relaton-xml-html:

`./relaton-xml-html <relaton-xml> <stylesheet> <output-root> <html-template>`

The built-in default Liquid template (if the `<html-template>` parameter is not provided) is in lib/relaton/cli/template.html

The HTML Template recognises the followin

[2018-09-29 09:00] #2 closed

[2018-09-29 13:18] #6 closed

[2018-09-30 23:04] opoudjis opened #7 "Relaton as interactive shell"
I think this:

relaton could open an interactive shell. Inside you can access commands like fetch.

In fact we can do this:
$ relaton fetch -t iso -y 2010 “ISO 639”
?

We want to combine the other scripts into a single executable as “sub commands” like “fetch”. We can refer to “digicert-cli” that uses this structure.

[2018-09-30 23:05] opoudjis opened #8 "fetch classes"
Let me confirm: iso, iec, ietf, gb?

[2018-09-30 23:15] opoudjis commented on #3
Issue moves to #7

[2018-09-30 23:16] #3 closed

[2018-09-30 23:16] opoudjis commented on #7
From https://github.com/riboseinc/relaton-cli/issues/3 : Combine relaton-yaml-xml and relaton-xml-html executables as `relaton xml2html [options]`

[2018-09-30 23:39] ronaldtse commented on #8
OK! Thanks!

[2018-10-01 13:59] opoudjis commented on #8
Done in relaton-cli and relaton

[2018-10-01 13:59] #8 closed

[2018-10-01 13:59] opoudjis commented on #7
Done. Please review.

[2018-10-02 16:16] ronaldtse opened #9 "Issue with `fetch`"
Error when running fetch.

[code]

[2018-10-02 22:53] opoudjis commented on #9
I've released an update to relaton that contains the new command; please do a bundle update.

[2018-10-02 22:53] #9 closed

[2018-10-02 22:54] opoudjis opened #10 "Add to relaton-yaml missing fields from relaton"
authorship, language, script, etc.

also bug: `<technical-commitee>` should be wrapped by `<editorialgroup>`.

[2018-10-24 09:43] opoudjis commented on #10
Subsuming contributors (publisher, author) under tag agency.

Added edition, language, script. I do not believe it is practical to add the remaining bibliographic elements, such as series or relation, and for standards listings it should not be necessary.

[2018-10-24 09:47] #10 closed

[2018-10-30 08:17] ronaldtse opened #11 "Update to suit standards.calconnect.org flow"
* `exe/relaton-metanorma-extract` is now combines Relaton files into a "Relaton collection", and automatically inserts file links if the files exist (HTML, PDF, DOC, XML)
* `exe/relaton-yaml-xml` now creates with extension `.rxl` (for Relaton XML) and allows setting a prefix for generated, individual Relaton entry files.
* namespace for Bibcollection is changed to `https://open.ribose.com/relaton-

[2018-10-30 08:33] ronaldtse opened #12 "Need to generate docidentifier prefixes depending on the flavor"
Right now due to latest `docidentifier` change, only numbers are shown in the index. We want to use each document type's ability to re-generate the full identifier (or we update the schema to give a `full identifier`).

[2018-10-30 11:00] opoudjis commented on #11
The thing is, those scripts relaton-metanorma-extract and relaton-yaml-xml  are meant to be replaced by thor functionality within lib/cli/command.rb . Reopening ticket to take care of that.

[2018-10-30 12:03] opoudjis commented on #12
Btw, the notion of having lots of segmented parts to an identifier was a misfeature of metanorma-iso too. If we are using the same relaton schema and relaton gem across multiple Metanorma standards classes, we cannot have idiosyncratic structures for document identifiers in each class. This code is hard enough to maintain already without snowflaking the identifiers. And I fail to see what the requ

[2018-10-30 12:22] opoudjis commented on #12
I have changed the formatting of identifiers in metanorma-csd: bibdata/docidentifier now contains the full identifier string. I am unconvinced why a second representation of docidentifier broken down into its components is needed downstream, and I will need to see arguments for it.

[2018-10-30 21:59] opoudjis commented on #12
Currently metanorma-standoc and metanorma-iso are still using the structured identifier, with project numbers and parts, to generate output. This needs to be refactored as well, especially as we are declining to go down the same path with N numbers. Docidentifiers need to be atomic and set in total at Metanorma XML.

[2018-10-30 22:04] opoudjis commented on #7
Eliminating all separate scripts.

[2018-10-31 09:01] opoudjis commented on #12
Decision: will add document-number element distinct from document-identifier to relaton XML, which will contain the number-only component of the document identifier, and will be used for sorting.

[2018-10-31 10:56] opoudjis opened #13 "Genericise sample template"
for standards.calconnect.org, we don't want the site generation templates to stay in relaton-cli. They are customized for CalConnect. "relaton-cli" is not made for CalConnect.

We should replace the templates in relaton-cli with generic ones.

[2018-11-01 01:46] opoudjis opened #14 "Allow draft release alternative to published date for relaton entries"
If the document is a draft, need an alternative to published-date for use in indicating dates of documents in relaton-cli. revdate cannot be used, since it is part of the versioning information, and is outside of bibdata.

[2018-11-01 05:33] opoudjis commented on #12
Merge with https://github.com/riboseinc/metanorma-iso/issues/237

[2018-11-01 05:33] #12 closed

[2018-11-01 10:59] ronaldtse commented on #1
@opoudjis is this completed? Thanks!

[2018-11-01 11:41] opoudjis commented on #14
Done: published date, else circulated date, else first date in the bibdata entry.

[2018-11-01 11:43] #14 closed

[2018-11-01 12:52] opoudjis opened #15 "Refactor command.rb"
Break up into smaller files. They are Thor commands not subcommands, so unsure how to break them up.

[2018-11-01 14:30] ronaldtse commented on #1
Excellent. Thanks.

[2018-11-02 10:09] abunashir commented on #15
Thanks @opoudjis, I will have a look. I'm trying to run the test suite locally but no luck so far, does it run on your end, do I need to set something up as prerequisite?

[2018-11-02 10:39] opoudjis commented on #15
I'm still building the test suite :(

[2018-11-02 13:13] abunashir commented on #15
Cool, please let me know when you are done or if you need any help there :)

[2018-11-03 11:11] #5 closed

[2018-11-03 11:15] opoudjis commented on #15
Test suite done.

Request from @ronaldtse was to break up lib/relaton/cli/command.rb into a separate file for each Thor command. I know that you can break out Thor subcommands into separate files, because you've done so; but rather than find out myself whether you can do that with Thor commands, I thought I'd ask you. :)

(I'm pretty overwhelmed with the amount of work on Metanorma I'm having to d

[2018-11-05 01:45] opoudjis commented on #11
Functionality moved to Thor scripts.

[2018-11-05 01:45] #11 closed

[2018-11-05 14:11] abunashir commented on #15
Sweet, I will have a look into this soon.

[2018-11-07 17:42] abunashir opened #17 "Access to the relaton repos"
Hi @opoudjis , @ronaldtse I can't push anything directly to this repo, could any of you please add me to this one? Thanks!

[2018-11-07 20:08] ronaldtse commented on #17
Hi @abunashir , I've just added you. Thanks!

[2018-11-07 22:57] opoudjis commented on #15
Done by @abunashir. rspec now breaks, I will debug.

[2018-11-08 09:06] abunashir commented on #15
Hey, @opoudjis it's not complete yet, I just started working on it and will tell you once it's done, thanks!

[2018-11-08 09:17] opoudjis commented on #15
Phew. Ok, thank you!

[2018-11-17 14:30] abunashir commented on #15
Hi @opoudjis, this is now done here https://github.com/riboseinc/relaton-cli/pull/20, please merge it once it's reviewed, thanks!

[2018-11-19 23:45] #15 closed

[2018-11-19 23:45] opoudjis commented on #15
Thank you so much, @abunashir!

[2018-12-10 14:44] ronaldtse opened #26 "Update new gem version and release for RXL links"
The previous version wasn't generating RXL links for RXL files in `relaton concatenate`. The latest commit 1c8526e fixes it.

[2018-12-11 18:25] ronaldtse opened #27 "Provide rendering themes"
Right now the HTML Relaton CLI generates is in the CalConnect style.

We want to generalize into multiple themes so that the generate sites can look different (e.g. for different publishers).

Potentially the CalConnect style can be wrapped in some gem like `relaton-theme-calconnect`.

[2018-12-11 18:40] ronaldtse commented on #27
For an example of how a Relaton mini-site is created, see https://github.com/riboseinc/csd-public-documents/tree/gh-pages

[2018-12-12 06:17] opoudjis commented on #27
... Themes?!

`$ relaton xml2html <relaton-xml> [<stylesheet>] [<html-template-dir>]`

There is a stylesheet, and there is a Liquid Template directory. Anything I would do to support themes, I have already done. Anything else to be done, will need to be done by a designer.

And stop proliferating gems. It is utterly counterproductive, because I have to end up maintaining them.

[2018-12-12 06:17] #27 closed

[2018-12-12 06:20] #26 closed

[2019-01-16 09:38] ronaldtse opened #29 "xml2yaml and yaml2xml should support conversion of individual files"
These two commands should support individual file conversion using default syntax.

This weakness is why I had to convert BibData multiple times (yaml2xml -> concatenate -> xml2yaml -> yaml2xml) here:
https://github.com/CalConnect/standards.calconnect.org/blob/56afa509bbb30b5cb2bd736a6fef5d5b5051e1bd/Makefile#L97

Moreover, xml2yaml and yaml2xml should ignore files that are already in the target f

[2019-01-16 09:39] ronaldtse commented on #29
And they should work on collections (BibData in YAML, BibData in RXL) too.

[2019-01-16 09:41] ronaldtse opened #30 "`extract` command should work with a single Metanorma file too"
Right now it only works with a `Metanorma-XML-Directory`, but it should also work with a single file.

[2019-01-17 14:58] abunashir commented on #30
👍

[2019-01-17 14:58] abunashir commented on #29
cool, I will look into it tomorrow

[2019-01-18 05:08] ronaldtse opened #31 "All file conversions MUST be done through BibData/BibCollection models"
These lines in the `relaton_file.rb` should be re-written. We need all conversions to go through the bibdata/bibcollection models. This ad-hoc conversion routine messes up the XML namespaces.

[code]

[code]

[2019-01-20 15:33] abunashir commented on #30
@ronaldtse, the attached PR adds this feature, please have a look and let me know if there is anything else on this one, thanks!

[2019-01-20 15:36] #30 closed

[2019-01-20 16:44] abunashir commented on #31
Hi @ronaldtse, I'm not exactly sure if I understand it correctly, could you please add the sample files where I can test, and also what's the expected outcome?

[2019-01-21 12:05] opoudjis commented on #7
Implemented and already being built on, so closing.

[2019-01-21 12:05] #7 closed

[2019-01-22 17:10] ronaldtse commented on #7
Originally this task is for an "interactive shell", aka `irb`, for Relaton, but I guess it's not really needed now.

[2019-01-29 04:32] ronaldtse commented on #29
@abunashir I think you've fixed this in #32 , right?

[2019-01-29 04:34] ronaldtse commented on #31
The problem is XML files contain namespaces that cannot be easily represented in YAML through direct conversion (well it can, but there is an easier way).

The best way is to:

1. YAML -> BibModel or BibCollection -> XML
2. XML -> BibModel or BibCollection -> YAML

Right now we're doing:

1. YAML -> something... -> XML
2. XML -> something else... -> YAML

[2019-01-29 04:40] ronaldtse opened #33 "Implement `relaton split` for splitting a BibCollection"
Right now we have `relaton concatenate` to concatenate multiple files into a collection. We need to implement `relaton split` to split a collection back into multiple files.

[2019-01-30 15:57] abunashir commented on #29
@ronaldtse no, it was only for the extract interface, but I will look into this in Friday/Saturday :)

[2019-02-02 15:19] abunashir commented on #31
Hi @ronaldtse, aren't we already doing the conversion through BibCollection/Bibdata? like https://github.com/riboseinc/relaton-cli/blob/master/lib/relaton/cli/relaton_file.rb#L113 and https://github.com/riboseinc/relaton-cli/blob/master/lib/relaton/cli/yaml_convertor.rb#L41.

Since  our current bib data can only parse xml, and it also requires us to have a spacific namspace that's why I think we a

[2019-02-02 15:34] abunashir commented on #33
@ronaldtse: How different would it be compared to `relaton extract`?

[2019-02-08 14:54] ronaldtse commented on #33
`relaton extract` extracts out relaton information from Metanorma XML.

`relaton split` should split a Relaton Collection into multiple Relaton individual files.

[2019-02-10 14:53] abunashir commented on #33
Hi @ronaldtse, to confirm https://gist.github.com/abunashir/39cc87102fb7f356b81f18c96b8ed86a is an example of relaton collection which contains six relations, so the split command should split this file into six separate relaton files? If so, my questions are:

* What should I use for filename, the `docidentifier` in each node?
* What do we do with the file tile, and contributor in collection file

[2019-02-12 05:21] ronaldtse commented on #33
Agree. In the code there is a `docidentifier_to_filename` method (the name is probably different...), we can use that to generate the filename.

The collection file name should be the directory name by default (unless the user specifies a different directory for output).

Question:
* The file title and contributor information can probably be discarded...?
* Or better yet, serialized into a YAML fi

[2019-02-15 15:01] abunashir commented on #33
Cool, I've used sanitize `docidentifier` as a filename in the attached PR, and I also likes the idea of using the collection name as a default directory unless the user provides something as an option.

Regarding writing it to a collection file, unless it's a requirement to keep those details, I would say what about we just split the files as necessary and then simply dump the BibData collection t

[2019-02-15 15:35] abunashir commented on #33
Hi @ronaldtse, I've updated the PR with desire expecation here: https://github.com/riboseinc/relaton-cli/pull/35, please to review and feel free to merge it unless we need something else on that one :) Thanks!

[2019-02-16 09:57] #33 closed

[2019-02-17 17:21] abunashir commented on #29
Hi @ronaldtse, I've added two PR, these added the support to convert a single file, and it also ignores the existing files during the conversion process by default. But, if we need to overwrite it for any reason then we can pass the `--overwrite` option with those CLI commands.

Please check it out and let me know if that solves the issues, thanks :)

[2019-02-22 03:50] ronaldtse commented on #33
Thank you @abunashir !

[2019-02-23 14:49] abunashir commented on #29
@ronaldtse: Are we good with the changes? Anything else on this one?

[2019-02-26 09:41] ronaldtse opened #40 "Error in `relaton split`"
Check out https://github.com/CalConnect/standards.calconnect.org and use branch `staging`.

Run `make` and you will see this:

[code]

@abunashir could you help fix this? The goal is to make it run there.

[2019-02-27 03:39] ronaldtse commented on #29
@abunashir I think this may also be related to #40?

[2019-03-01 10:07] abunashir commented on #40
Hi @ronaldtse, I think it has something to do with the namespace. But I just ran this on the staging branch, and it seems to be working fine for me without any error.

Did you have some different files in `_input` directory in the other source repo?

[2019-03-01 10:08] ronaldtse commented on #40
@abunashir did you run this?

[code]

[2019-03-01 10:09] abunashir commented on #40
yes, I did and I also had to create the `csd` directory in the root, since it was non existance

[2019-03-01 10:13] ronaldtse commented on #40
I don't think you're supposed to create the csd/ directory. It is automatically generated by the Makefile?

[2019-03-01 10:16] ronaldtse commented on #40
(oh it wasn't. Fixing it now)

[2019-03-01 10:23] abunashir commented on #40
I was doing a long screnshot of fresh slate :) Here is the gif

![relaton-split](https://user-images.githubusercontent.com/1220911/53632138-6ef3e180-3c14-11e9-8a94-c3201fa973b1.gif)

[2019-03-01 10:25] ronaldtse commented on #40
So it now creates the `csd/` directory when you run it. However here's the problem.

If you run `make serve` and go to `127.0.0.1:4000`, you notice that all the documents' metadata are missing. The reason is the files generated in `bib/` are wrong:

1. The RXL files are actually in YAML.
2. The filenames of the files are wrong:

<img width="190" alt="screen shot 2019-03-01 at 6 24 47 pm" src="http

[2019-03-01 10:35] ronaldtse opened #41 "`relaton split` should not add extra extension"
In standards.calconnect.org, run this:

[code]

The goal is to fill up the `bib/` directory with extracted bib items from `_input/admin.rxl`. However, the output files are not as expected:

<img width="217" alt="screen shot 2019-03-01 at 6 31 22 pm" src="https://user-images.githubusercontent.com/11865/53632531-383bbc80-3c50-11e9-95bc-285d5d902a4d.png">

1. "admin.rxl.rxl" should not be present. We

[2019-03-01 10:36] ronaldtse commented on #41
Or... maybe we can separate the split and the extension change. Let me try.

[2019-03-01 10:37] ronaldtse commented on #41
When I run:
[code]

Problem 1 (and 2) still exists.

So we need to get both fixed ASAP. Thanks!

[2019-03-01 10:42] abunashir commented on #40
Ah okay, I'm debugging this now, thanks :)

[2019-03-01 13:38] abunashir commented on #41
I'm on it :)

[2019-03-01 15:24] abunashir commented on #41
Hi @ronaldtse , I've added a new pull request and that addresses some of the issues specified here:

Since we were also writing a collection.yml file during the split procedure and that's what was causing this issue, I've now remove this  now, so now it should write a collection file, but only the split files.

Yap, I've fixed that one in the attached PR.

I didn't change anything on that one yet,

[2019-03-01 15:26] abunashir commented on #41
There are still some issues, and I'm gonna addressed those next.

* The administrative documents are missing the Relaton XML file link.
* The Relaton XML links usages the file from `csd` dir, but it was using the `bib` dir before

Additonally, if we want to split a YAML file by the `relaton split` interface, then we can probabelly add support for that one next.

[2019-03-05 08:13] ronaldtse commented on #40
@abunashir please let me know when this is good to go, we need to update standards.calconnect.org ASAP. Thanks!

[2019-03-06 17:24] abunashir commented on #40
Hi @ronaldtse, I could not have a look in it yet, but I will try to get it done by this Friday or even earlier if possible, thanks!

[2019-03-08 15:53] abunashir commented on #40
Hi @ronaldtse, I've been debugging this for a while, but what's happening is quite interesting, so now if you update the the `relaton-cli` gem version to `~> 0.1.9` in the calconnect site then it should work fine. But here is the differeces that needs some clearfication.

* Every links work fine, but in the current live site's Relaton-XML links points to the 'bib/cc-**.rxl' file, but after this la

[2019-03-09 11:50] ronaldtse commented on #40
@abunashir actually, the `csd/*.rxl` are temporary artifacts, due to the previously complex workflow.

1. We want to keep all the bibliography in the same directory (`bib/`)
2. We want to keep all the documents in the same directory

In fact, this is so that we can build a RXL index that can be remotely queried (Metanorma Registry).

If you get standards.calconnect.org working, can you submit a PR

[2019-03-10 11:58] ronaldtse commented on #40
This is an example of the problem:

On the Standards page, the non-Metanorma-generated files do not have the RXL output. Administrative documents, and on the Standards page (e.g. CC/IETF/DS 34010) is an example of this.

[2019-03-11 17:10] abunashir commented on #40
Hi @ronaldtse, I've added some changes so it should generate the site same as before, could you please check when you have a chance here https://github.com/CalConnect/standards.calconnect.org/pull/18 ?

[2019-03-14 15:59] abunashir commented on #41
@ronaldtse: This issue should be fixed now, closing this for one now, but if there is anything else please reopen this one, thanks!

[2019-03-14 15:59] #41 closed

[2019-03-14 16:00] abunashir commented on #31
@ronaldtse: I assume this one is resolved with the recent changes right? Let me know if this one still persist, thanks

[2019-03-14 16:01] abunashir commented on #29
@ronaldtse: Same for this one right?

[2019-03-14 16:03] abunashir commented on #13
@opoudjis: Is this still relevant? What's the plan with this one?

[2019-03-14 18:31] ronaldtse commented on #13
@abunashir yes, this is relevant to the Metanorma Registry work.

There are currently two ways of "displaying a set of Metanorma documents in a site":

* Via Jekyll using the system implemented for standards.calconnect.org . But this requires some infrastructure setup (i.e. not doable on GitHub pages)
* Via this gem to create a "mini-site", like https://github.com/riboseinc/mn-ogc-documents . This

[2019-03-14 18:31] ronaldtse commented on #40
Closed. Thanks!

[2019-03-14 18:31] #40 closed

[2019-03-14 18:31] ronaldtse commented on #29
I think we're good for now!

[2019-03-14 18:31] #29 closed

[2019-04-07 18:48] CAMOBAP795 opened #46 "Add README.adoc"
Add README.adoc

[2019-04-08 07:47] ronaldtse commented on #46
@CAMOBAP795 the README.adoc is under `docs/`. What exactly do you need?

[2019-04-08 07:49] CAMOBAP795 commented on #46
@ronaldtse sorry I just didn't found it in root, and decided that it missing, maybe make sense move it to root, how do you think?

[2019-04-13 13:08] opoudjis commented on #46
That was a deliberate decision by @strogonoff, to do documentation refactoring by moving READMEs into docs/. This hasn't been done consistently (in fact, this is one of the few gems it has been done to), but I'm not comfortable deciding to undo that.

[2019-04-13 13:25] ronaldtse commented on #46
Putting the docs under /docs is necessary for our automatic generation of the static sites, so lets not change that now.

[2019-04-13 13:25] #46 closed

[2019-04-27 04:39] ronaldtse opened #47 "Role of Relaton CLI as interface to the Relaton bibliographic database and manager"
Relaton CLI should be a front-end to the Relaton bibliographic management system in  https://github.com/metanorma/relaton/issues/34 .

CLI accessible actions:

* Database actions
  * Create a database (e.g. in `$HOMEDIR/relaton`)
  * Modify a database
  * Query a database (via CLI, at least)
    * What is "NIST SP 800-162 (January 2004)"? Is it in the local database, or should it be fetch remotely

[2019-04-29 14:53] ronaldtse commented on #31
@abunashir it's not yet resolved. What I mean is:

[code]

Same with `BibCollection`. Relaton has two formats for "identical purposes" -- Relaton XML and Relaton YAML -- therefore they must be directly interoperable.

Is this more clear now?

[2019-05-03 14:10] abunashir opened #48 "Release v0.1.10 to rubygems"
Hi @opoudjis, I can see the latest version bump (`v0.1.10`) in this repo, but in rubygems, we still have the old version as head - https://rubygems.org/gems/relaton-cli

I found that out while I was working on https://github.com/CalConnect/standards.calconnect.org/issues/27, could you please double check and possibly push this version to RubyGems?

cc: @ronaldtse

[2019-05-07 01:29] opoudjis commented on #31
It's far worse than that.

I've been asked to reuse the YAML here to generate citations for Metanorma. The YAML is ad hoc, inflexible, and not fit for purpose, to generate a general-case relaton citation. It cannot cope with multiples of any attribute. It cannot cope with person authors. It cannot cope with generating bibitem as opposed to bibdata.

What actually needs to happen is YAML having the

[2019-05-07 01:31] ronaldtse commented on #31
i.e. there should be a *single* place to parse and export Relaton, regardless of YAML, XML or AsciiBib.

Thanks @opoudjis for describing this.

[2019-05-07 08:27] opoudjis commented on #48
Done. Please just assign tasks to me, I take a lot longer to notice mentions.

[2019-05-07 08:27] #48 closed

[2019-05-11 04:29] opoudjis opened #49 "Move self methods to instance methods"
Request from @ronaldtse:

Nick, I saw there's now a method called Relaton::Cli.relaton
I think it should be an instance variable, and it should be at Relaton, not Relaton::Cli
Ruby has a "Singleton" thing, that allows you to create a singleton
So you can use "Relaton.instance" to instantiate it and use it

[2019-05-11 04:33] opoudjis opened #50 "Move lib methods from relaton-cli to relaton"
Functionality like the YAML generator is currently in relaton-cli/lib. Soon, the YAML generator will be invoked by metanorma; and the XML templates currently used in the YAML generator will be replaced by calls to the relaton native XML generator (iso-bib-item, which has been renamed to relaton-bib).

In order to make this all work, this is a request to move all the relaton-cli/lib code to the rel

[2019-05-29 00:38] opoudjis commented on #31
https://github.com/metanorma/relaton-cli/wiki/Program-of-work,-May-2019

The work listed under Andrej is in progress, and is a prerequisite for the YAML work.

[2019-06-13 22:21] ronaldtse opened #52 "Implement IETF RFC XML v2 bibdata extraction to Relaton XML/YAML"
`relaton concatenate` and `relaton extract` are two commands that extract bibliographic metadata from Metanorma files. We want to extend the extraction to also support XMLRFC v2 files.

The corresponding functionality is implemented here: https://github.com/metanorma/relaton-ietf/issues/20

@andrew2net could you help implement this? Thanks!

[2019-06-13 22:22] ronaldtse commented on #52
Specifically, if you complete this, this repository branch (https://github.com/CalConnect/csd-vpoll/tree/rt-new-structure) `make clean all` targets will work.

[2019-06-14 10:02] andrew2net commented on #52
@ronaldtse I could, but I don't familiar with `relaton-cli`. So it won't be fast, it needs time to dig into.

[2019-06-14 10:03] ronaldtse commented on #52
@andrew2net please try working with it. Thanks!

[2019-06-14 13:49] andrew2net commented on #52
@ronaldtse do we need to add another command (for example `extractrfc`) or make the existed command `extract` recognize a type of a file?

[2019-06-14 14:19] ronaldtse commented on #52
Make the existing command “extract“ accept XMLRFC files. Thanks!

[2019-06-17 16:07] andrew2net commented on #52
@ronaldtse it's done. To check you need to install last changes in `relaton-ietf`.

[2019-06-17 16:07] #52 closed

[2019-06-20 15:03] ronaldtse opened #53 "Support TXT output"
In IETF RFC generation we also produce TXT files. For example, this repo: https://github.com/CalConnect/csd-vpoll has an index page generated that contains HTML, XML of the generated RFC file but not the TXT:

https://calconnect.github.io/csd-vpoll/

The relevant lines are:

https://github.com/metanorma/relaton-cli/blob/97a0d488327b2b45fd9d1e772b69722537ac6bed/lib/relaton/bibdata.rb#L11-L16

I thi

[2019-06-20 15:19] andrew2net commented on #53
@ronaldtse I don't understand. Is it a bug or a new function? Did it work before?

[2019-06-20 15:22] ronaldtse commented on #53
@andrew2net this is new functionality. If there is a TXT file that has the same name as the XML document, we want to give a link to it on the index page.

<img width="496" alt="Screen Shot 2019-06-20 at 11 22 24 PM" src="https://user-images.githubusercontent.com/11865/59860828-43a72500-93b2-11e9-9e18-8f1a6332a310.png">

[2019-06-20 15:25] ronaldtse commented on #53
Actually we need to add `txt` here too:
https://github.com/metanorma/relaton-cli/blob/97a0d488327b2b45fd9d1e772b69722537ac6bed/lib/relaton/cli/relaton_file.rb#L180

[2019-06-20 15:28] ronaldtse opened #54 "Fix specs due to RelatonIetf"
As title (see Travis logs).

[2019-06-20 15:28] andrew2net commented on #53
@ronaldtse where can I find a sample of txt document?

[2019-06-20 15:29] ronaldtse commented on #53
If you run `make clean all` in `csd-vpoll` you can see it being outputted. Actually, you just need to add `"txt"` in the two places I showed, and it should work. The remaining work is to add a spec.

[2019-06-20 15:34] andrew2net commented on #53
ok, I'll add `txt`, but `make clean all` in `csd-vpoll` doesn't work on my comp yet.

[2019-06-20 15:36] ronaldtse commented on #53
@andrew2net can you try removing `nits` from this line in draft-calext-vpoll.adoc and the draft-york-vpoll.adoc?

[code]

[2019-06-20 15:49] andrew2net commented on #53
I tried but get the error:
[code]

[2019-06-20 15:54] ronaldtse commented on #53
What happens if you just run:

[code]
?

[2019-06-20 15:56] andrew2net commented on #53
outputs the same error

[2019-06-20 15:57] ronaldtse commented on #53
But does it still give:
[code]
?

[2019-06-20 15:59] andrew2net commented on #53
[code]

[2019-06-20 15:59] ronaldtse commented on #53
Are you on Linux or Mac? I've never seen this error...

[2019-06-20 16:00] andrew2net commented on #53
Mac

[2019-06-20 16:27] andrew2net commented on #53
The version of published `metanorma` is `0.3.12`. But `version.rb` on GitHub contains `0.3.11`. It's strange.

[2019-06-20 16:28] ronaldtse commented on #53
@andrew2net maybe @opoudjis had local changes?

[2019-06-20 16:35] andrew2net commented on #53
@ronaldtse there is no any other commits after last release.

[2019-06-21 00:46] opoudjis opened #55 "Fetch latest citation no longer working"
`relaton fetch -t ISO -y 2010 'ISO 2146'` works

`relaton fetch -t ISO 'ISO 2146'` is meant to fetch a version of the spec with the year taken away, and the latest version as a related document. Instead, it fails to retrieve any documents.

This breaks rspec:

[code]

[2019-06-21 07:17] andrew2net commented on #54
fixed it, but I don't know how to restart AppVeyor.

[2019-06-21 07:17] #54 closed

[2019-06-21 10:08] andrew2net commented on #55
@opoudjis I'm not able to reproduce the issue. What does `relaton fetch -t ISO 'ISO 2146'` give you?

[2019-06-21 10:16] andrew2net commented on #53
@ronaldtse Does TXT output work? I can't check it.

[2019-06-21 10:33] opoudjis commented on #55
What I've pasted above: "No matching bibliographic entry found"

[2019-06-21 13:18] andrew2net commented on #55
@opoudjis It works o my comp and Travis. I noticed the `Gemfile.lock` isn't included in this repo. So you may have different `Gemfile.lock` with old versions of dependencies. Try to run `bundle update`. And I think it is a bad idea not include `Gemfile.lock` into repo.

[2019-06-21 14:23] opoudjis commented on #55
Gemfile.lock had ended up much more trouble for travis than it was worth.

OK, I will debug :(

[2019-06-21 14:31] opoudjis commented on #55
Huh. I cleared my relaton cache, and it worked.

I think I know what happened, and it's a different bug.

I was running rspec on relaton-cli when I temporarily lost internet connectivity. I think the attempt to fetch ISO 2146 undated aborted, and relaton ended up storing a "not found" entry under ISO 2146 in the global cache. Is that possible?

If so (a) no entry should be cached if internet conne

[2019-06-21 15:52] ronaldtse commented on #55
I’ve had this sort of issue with the cache too. Maybe we need to make a new issue in ensuring that cache read failures don’t crash the application — instead it should try to refetch.

[2019-06-22 11:16] andrew2net commented on #55
@opoudjis Gemfile.lock will cause trouble for users who update the gem. They will have a new version of the gem with old dependency.
Concerning Travis. When you run Rspec before push commit it updates Gemfile.lock. So pushing the updated Gemfile.lock to GitHub prevent any trouble.

Yes, `relaton-iso` returns `nil` if request ended with an error. In this case, `relaton` saves `not found` in the cac

[2019-06-27 11:41] #55 closed

[2019-06-28 10:22] andrew2net commented on #53
@ronaldtse could we close this issue?

[2019-06-30 05:14] opoudjis commented on #50
I'll do this...

[2019-07-04 08:29] opoudjis commented on #50
Not sure this is as pressing now. Metanorma-standoc is invoking relaton-bib instead of relaton-cli to generate bibliographic entries based on hashes, and the XML template for bibitem has been moved out of relaton-cli for YAML and hashes; so the reason this ticket was raised has gone. Closing the ticket down.

[2019-07-04 08:29] #50 closed

[2019-07-07 07:14] opoudjis opened #57 "Old to new YAML mapping"
Currently there is a YAML to Relaton mapping in place in code in this gem.

This mapping has been obsoleted by the new mapping, which tries to capture all relaton elements (currently limited only to relaton-bib, but it will be extended). The new mapping is also much less flat, and follows the structure of relaton.

However the old mapping is still in place, and needs to be maintained as legacy. Fu

[2019-07-11 12:28] ronaldtse opened #58 "Update status of work in "program of work""
https://github.com/metanorma/relaton-cli/wiki/Program-of-work,-May-2019

@opoudjis could you please help update the program of work to reflect what has been done (cross outs) and what is still pending?

Thanks!

[2019-07-14 23:43] opoudjis opened #59 "Code with trailing digit being matched"
I think I know how this came in, but it's a bug.

spec/acceptance/relaton_fetch_spec.rb in this gem includes a test that `relaton fetch -t ISO -y 2009 'ISO 2146'` does not match any gems.

As a result of recent updates to the regex, this is now matching ISO 21461:2009.

Please look at the updated regex, and make sure it does not match any digits after the supplied standards code.

Even if I did su

[2019-07-15 01:31] ronaldtse commented on #59
@opoudjis I believe using Advanced Search at iso.org will resolve this issue: https://github.com/metanorma/relaton-iso/issues/47#issuecomment-511200779

[2019-07-18 09:07] opoudjis commented on #59
In addition, ISO 8601 is returning a match for ISO 8601-2:2019.

[2019-07-18 12:59] ronaldtse commented on #59
This will hopefully be resolved with the doc number filter in Advanced Search.

[2019-07-18 16:47] andrew2net commented on #59
solved by https://github.com/metanorma/relaton-iso/commit/b8de75e8503e1be4e23c39793cf28a096cc935c8

[2019-07-18 16:47] #59 closed

[2019-07-24 22:26] opoudjis commented on #31
This work has essentially been done, but it has been done as old alongside new relaton commands. Once new YAML conversion is ready to release, this gem will be rationalised, and the new methods integrated into the aggregate commands as requested.

[2019-07-24 22:27] opoudjis commented on #31
@andrew2net I'd rather you take charge of the relaton-cli refactor, but we'll discuss that once you're done with current work. @ronaldtse You're requiring backward compatibility with relaton-cli, so you need to be part of that discussion too.

[2019-07-24 22:29] opoudjis commented on #58
Done, with emojis. There now needs to be an updated program of work, but that will focus around the updates of relation-cli to deal with new vs old  Relaton YAML.

[2019-07-24 22:29] #58 closed

[2019-07-25 09:09] ronaldtse commented on #31
The standards.calconnect.org site depends on the old Relaton YAML -- @andrew2net once you're done with the relaton-cli refactor, can you directly apply the changes via a PR to this directory: https://github.com/CalConnect/standards.calconnect.org/tree/master/_input

@opoudjis Another important thing is to ensure that metanorma-cli still allows creating the RXL file out of a Metanorma XML file. Tha

[2019-07-30 21:28] ronaldtse opened #61 "Gemfile containing `relaton-cli` is forcing the require of `metanorma-cli` 0.0.1!"
With this `Gemfile`:

[code]

The resulting Gemfile.lock gives:

[code]

But with:

[code]

The gems installed are:

[code]

This is a reported issue from OGC.

[2019-07-30 23:04] opoudjis commented on #61
Fixed with release of metanorma-nist 1.2.4, which depends directly on relaton (which has had major version release).

[2019-07-30 23:04] #61 closed

[2019-08-05 13:49] opoudjis commented on #31
As far as I am concerned, I am no longer maintaining the metanorma and metanorma-cli gems: @abunashir is.

Seriously. I have to delegate responsibilities, and you know why I do.

[2019-08-14 02:30] ronaldtse commented on #53
@andrew2net confirmed issue is fixed. TXT output works with this:

[code]

In context:
https://github.com/CalConnect/csd-vpoll/master/sources/draft-calext-vpoll.adoc#L46

 Thanks!

[2019-08-14 02:30] #53 closed

[2019-08-16 03:51] ronaldtse opened #62 "`relaton concatenate` command combines YAML into RXL"
In the README:

However, with YAML input, the output is currently RXL. Given YAML input, it should create YAML output.

[2019-08-21 11:08] andrew2net commented on #31
@opoudjis I'm ready to discuss the refactorig.

[2019-08-21 16:03] andrew2net commented on #31
@ronaldtse when we convert files from YAML to XML and vice versa the document's type could be different. We have to use appropriate flavour gem to convert the documets. What's the best to dicover a document type? Maybe get it from `docidentifier/type`?

[2019-08-24 10:34] opoudjis commented on #31
@ronaldtse why have you removed this? Getting relaton-yaml working was the one clear strategic task we have...

The document type can be inferred from docidentifier; it's not generalisable as a solution, but we won't have a well defined bibdata/ext for any other document types anyway; and if the document does not fall into one of our Relaton types, it shouldn't be treated as anything but a bare bi

[2019-08-24 10:40] opoudjis commented on #13
I am not going to be working on this. I am currently assigning this to @andrew2net, but I have no idea what it even means, and whether it is relevant any more.

[2019-08-24 11:01] ronaldtse commented on #31
@opoudjis the removal is due to the move of organizations, reassigning now.

[2019-08-24 11:02] ronaldtse commented on #31
We need to re-create the project boards in this new org...

[2019-08-26 18:46] ronaldtse commented on #31
@opoudjis is there anything to discuss with @andrew2net here? Is this actionable now?

[2019-08-28 15:55] andrew2net commented on #31
@ronaldtse we have 2 new commands now: `yaml2xmlnew` and `yaml2htmlnew`. They use relaton flavor gems to transform YAML files to XML.

[2019-09-03 17:11] #31 closed

[2019-09-25 03:31] ronaldtse commented on #31
@andrew2net can you document `yaml2xmlnew` and `yaml2htmlnew`? How do we use them?

[2019-09-25 03:31] ronaldtse opened #63 "Document `yaml2xmlnew` and `yaml2htmlnew` in README"
@andrew2net can you please document them? Thanks.

_Originally posted by @andrew2net in https://github.com/relaton/relaton-cli/issues/31#issuecomment-525808848_

[2019-09-25 16:42] andrew2net commented on #57
@opoudjis we can use the old command `yml2xml` to convert an old YAML file to XML, then use the new command `xml2yamlnew` to convert the XML file to a new YAML format.

[2019-09-26 11:04] #63 closed

[2019-10-22 15:06] #57 closed

[2019-10-25 14:55] ronaldtse opened #65 "Allow exporting Relaton data into BibTeX format"
There should be a method to allow Relaton data to be exported into BibTeX. e.g.

[code]

[2019-12-11 17:37] andrew2net commented on #13
@ronaldtse As I understand we use Jekyll to generate a site. Do we still need the templates in `relaton-cli`?

[2019-12-12 12:55] andrew2net commented on #47
@ronaldtse I think we have such functionality already.

Do you mean to change a DB directory?

Some of the functionality we have already. For others, I suggest creating separated tasks with more detailed description.

[2019-12-15 12:55] abunashir opened #66 "Disable/hide debug messages from the CLI"
Whenever we are using the CLI, especially fetching a document, then it always kept printing debug related messages in the output. It's very helpful during development, but I'm not sure how useful it is for a normal user.

<img width="723" alt="Screen Shot 2019-12-15 at 1 47 51 PM" src="https://user-images.githubusercontent.com/1220911/70862875-33779900-1f42-11ea-9493-4dc12b26678d.png">

What do yo

[2019-12-15 13:39] ronaldtse commented on #66
100% agree. @abunashir can you help apply the same conditions here? Thanks!

[2019-12-17 11:37] andrew2net commented on #49
@opoudjis We already have the module Relaton. We cannot make a class with the same name. We can make a method `Relaton.relaton` and singleton class `Relaton::Cli::Relaton`, then use the class inside the method:
[code]
so we can use `Relaton.relaton.fetch` to fetch documents. Is it ok?

[2019-12-17 12:03] andrew2net commented on #62
@ronaldtse are you sure we should change the command's output from XML to YAML format? I've seen this command used in many `Makefile`s.

[2019-12-17 12:55] ronaldtse commented on #62
@andrew2net yes, those Makefiles are all under our control and should be fine.

[2019-12-18 12:36] #62 closed

[2019-12-23 02:08] opoudjis commented on #49
As with a lot of refactoring, I don't see the point, and this is a breaking change, but OK, go ahead.

[2019-12-23 14:12] abunashir commented on #66
Sure, I will look into it :)

[2019-12-28 12:41] ronaldtse opened #67 "(URGENT) Relaton `concatenate` crashing due to namespace issues"
This occurs in https://github.com/metanorma/mn-samples-iec/ after running `bundle update`.

[code]

[2019-12-28 13:54] ronaldtse commented on #67
I am confused why we don't set `:default` values for Thor commands in `:extension`?

[2019-12-28 14:25] ronaldtse commented on #67
@andrew2net ping, this is fixed in #68 now

[2019-12-28 17:13] andrew2net commented on #67
@ronaldtse can we close this issue?

[2019-12-28 20:53] #67 closed

[2019-12-28 22:35] ronaldtse commented on #67
Thanks @andrew2net !

[2020-01-07 10:48] ronaldtse opened #69 "Relaton CLI doesn't work with Metanorma-IETF"
See https://github.com/metanorma/metanorma-ietf/issues/57 .

[2020-01-07 11:43] opoudjis commented on #69
Wait for me to look at this first: https://github.com/metanorma/metanorma-ietf/issues/57

[2020-01-07 13:28] opoudjis commented on #69
The issue is that `relaton extract directory .` is not working correctly with Metanorma XML generated from metanorma-ietf. This is likely a general issue:

relaton-cli, lib/relaton/cli/relaton_file.rb:

[code]
def find(xpath, element = nil)
  (element || document).at(apply_namespace(xpath))
end
[code]

[2020-01-09 08:50] andrew2net commented on #69
@opoudjis `relaton extract directory .` doesn't use a `relaton`'s XML parser `from_xml`. Should we refactor it to use the parser?

[2020-01-11 15:11] #69 closed

[2020-01-12 08:27] ronaldtse commented on #69
@andrew2net

Is this done? We want to remove and rename all `...New` to just `...`.

[2020-01-12 20:02] andrew2net commented on #69
@ronaldtse yes it's done. But we should check if old classes are used elsewhere.

[2020-01-12 22:57] ronaldtse commented on #69
I don't think the old version is being used anywhere, let's get rid of the old one and 100% migrate to the new classes. Thanks!

[2020-01-12 22:58] ronaldtse opened #70 "Migrate to new Relaton YAML models in Relaton CLI"
I don't think the old version is being used anywhere, let's get rid of the old one and 100% migrate to the new classes.

i.e. drop the 'New' from "BibDataNew".

Thanks!

_Originally posted by @ronaldtse in https://github.com/relaton/relaton-cli/issues/69#issuecomment-573466991_

[2020-01-20 16:39] andrew2net commented on #49
@ronaldtse now we can use `Relaton.db` to get DB instance.

[2020-01-20 16:39] #49 closed

[2020-02-06 12:43] #70 closed

[2020-02-17 17:49] #66 closed

[2020-03-02 11:31] CAMOBAP795 opened #73 "NoMethodError: undefined method `xml_content'"
[code]

I faced with this crash in several repositories which uses `relaton-cli`:
 - https://github.com/metanorma/mn-samples-iec/runs/478869639
 - https://github.com/metanorma/mn-samples-mpf/runs/468418590
 - https://github.com/metanorma/mn-samples-gb/runs/479427093

I cannot test on latest relaton-cli because of:
[code]

[2020-03-05 03:51] ronaldtse commented on #73
Ping @opoudjis @andrew2net please help fix this. Thanks.

[2020-03-05 03:51] ronaldtse commented on #73
@opoudjis we need to relax this:
[code]

[2020-03-05 04:05] ronaldtse commented on #73
This is very strange -- latest metanorma-standoc is already at 1.3.19, it depends on relaton ~> 0.7.0.

[2020-03-05 05:14] opoudjis commented on #73
Yes, it is mass-downgrading metanorma and relaton to the lowest common delimiter (to deal with the discrepancy in version.) As I've stated, the real resolution is for @andrew2net and me to coordinate releases better: I got notification of the latest relaton upgrade right after I'd released the latest metanorma update.

[2020-03-05 15:42] ronaldtse commented on #73
This is fixed in the latest `metanorma-cli` and Relaton releases. Closing.

[2020-03-05 15:42] #73 closed

[2020-03-25 03:20] ronaldtse opened #74 "(URGENT) Document index generated via Relaton CLI are broken"
See mn-samples-ogc :

<img width="1235" alt="Screen Shot 2020-03-25 at 11 19 52 AM" src="https://user-images.githubusercontent.com/11865/77498418-8d192900-6e8a-11ea-8bf0-42cc454ad146.png">

1. The layout is clearly broken -- I think some tags are not properly closed.
2. STAGE is missing (it's showing DATE instead)
3. Document identifier is missing
4. Doctype label is missing

[2020-03-26 13:49] #74 closed

[2020-03-27 03:11] ronaldtse opened #75 "(URGENT) Investigate errors in `relaton concatenate` with NIST documents"
I'm getting these errors in https://gitlab.com/metanorma/mn-native-pdf-nist (just run `make`)

Is this an error of Metanorma-NIST or Relaton-NIST?

[code]

[2020-03-27 06:04] ronaldtse commented on #75
In fact, the generated index.html is empty.

You can see it in the artifact uploaded here: https://gitlab.com/metanorma/mn-samples-nist/-/jobs/487784946
<img width="773" alt="Screen Shot 2020-03-27 at 2 04 46 PM" src="https://user-images.githubusercontent.com/11865/77726862-ebcdd680-7033-11ea-9828-27e59dcfacfa.png">

[2020-03-27 11:42] andrew2net commented on #75
These warns showed because the gramma restricts posssible title type values:
[code]
It isn't an error.

[2020-03-27 14:04] opoudjis commented on #75
Ugh. I'd been meaning to relax the title types; they're being violated too often. Doing so right now.

[2020-03-27 14:06] opoudjis commented on #75
grammar updated. @andrew2net, you'll need to propagate this update to relaton-cli.

[2020-03-27 14:40] andrew2net commented on #75
@ronaldtse in the build log you can see it used relaton-nist v0.8.1. With v0.8.2 it works correctly. I can't rerun the job without push new commit.

[2020-03-27 15:05] ronaldtse commented on #75
Thanks guys. @andrew2net then can you push the new commit then?

[2020-03-27 21:12] andrew2net commented on #75
@ronaldtse I don't have access to push this repo

[2020-03-27 22:00] ronaldtse commented on #75
Strange, you are a member and there is no protected branch...

[2020-03-28 14:48] andrew2net commented on #75
@ronaldtse sorry, I can't push the https://gitlab.com/metanorma/mn-samples-nist

[2020-03-28 15:32] ronaldtse commented on #75
@andrew2net can you make a PR on GitLab then?

[2020-03-28 18:34] andrew2net commented on #75
@ronaldtse very strange, it uses `relaton-nist` v0.8.1 even witn `gem "relaton-nist", ">= 0.8.2"` in the `Gemfile`. Locally it works correctly.

[2020-03-28 18:45] andrew2net commented on #75
@ronaldtse the`mn-samples-nist` uses the Docker image to compile the documents. The image contains `Gemfile.lock` with `relaton-nist` version locked to `0.8.1`. It needs to update the `metanorma/metanorma` image.

[2020-03-29 01:58] ronaldtse opened #76 "(URGENT) Problem in rendering document index"
Previously, the document index has a structure of:

<img width="303" alt="Screen Shot 2020-03-29 at 9 57 18 AM" src="https://user-images.githubusercontent.com/11865/77838149-af20ed00-71a3-11ea-8989-77dd11aff129.png">

Now, the `<div class="document">` is gone, causing all sorts of layout issues"

<img width="396" alt="image" src="https://user-images.githubusercontent.com/11865/77838111-489bcf00-71

[2020-03-29 08:40] ronaldtse commented on #75
The last metanorma-cli release was 9 days ago so the relaton-nist gem hasn't been updated there. We will need to wait for the next release to get this fixed.

[2020-03-29 10:06] #76 closed

[2020-03-29 11:21] ronaldtse commented on #75
@andrew2net I confirm latest relaton-cli fixes the index issue.

However, I'm using relaton-nist 0.8.2 and still seeing these:

[code]

[2020-03-29 11:30] ronaldtse commented on #75
@opoudjis These are the items marked invalid. I don't think it's a matter of "relaxing".

[code]

The short title is used in the header/footer with limited space.

[2020-03-29 13:43] andrew2net commented on #75
I'll remove these warnings in the next release.

[2020-03-29 21:41] andrew2net commented on #75
@opoudjis just to inform you, the [NIST grammar](https://github.com/metanorma/metanorma-model-iso/blob/4d21b5c3056437eeded78efab68c6195cf76fb52/grammars/nist.rnc#L12) still have title type constraint.

[2020-03-30 02:29] ronaldtse opened #77 "Relax NIST bibliography grammar to accept document-class and short-title"
@opoudjis just to inform you, the [NIST grammar](https://github.com/metanorma/metanorma-model-iso/blob/4d21b5c3056437eeded78efab68c6195cf76fb52/grammars/nist.rnc#L12) still have title type constraint.

These lines are generated by metanorma-nist but not accepted in the NIST bibliography grammar:

[code]

_Originally posted by @andrew2net in https://github.com/relaton/relaton-cli/issues/75#issuecom

[2020-03-30 02:30] ronaldtse commented on #75
If this is a grammar issue, we don't need to remove the warnings?

If these are only warnings, please tag them with "WARNING: " too. Thanks.

[2020-03-30 02:36] ronaldtse commented on #77
Moved to https://github.com/metanorma/metanorma-standoc/issues/231 . Closing this one.

[2020-03-30 02:36] #77 closed

[2020-03-30 21:58] #75 closed

[2020-04-30 17:59] #65 closed

[2020-05-10 02:04] ronaldtse opened #78 "ISO document listing template should show stage names and codes"
The entry should say the STAGE name instead of just "60".

<img width="562" alt="Screen Shot 2020-05-10 at 10 01 17 AM" src="https://user-images.githubusercontent.com/11865/81489165-31bdc180-92a5-11ea-923e-8873712135e0.png">

Stage 60, substage 60: "STAGE: FINAL 60.60"
Stage 60, substage 00: "STAGE: PRF 60.00"
Stage 50: "STAGE: FDIS 50.XX"
Stage 40: "STAGE: DIS 40.XX"
Stage 30: "STAGE: CD 30.XX"
S

[2020-05-17 17:11] andrew2net commented on #78
@ronaldtse should we use the new `abbreviation` element https://github.com/metanorma/metanorma-iso/issues/342#issuecomment-612067009 ?

[2020-05-20 15:16] andrew2net commented on #78
Fixed. Please update relaton-cli to version 1.0.3

[2020-05-20 15:16] #78 closed

[2020-06-04 13:43] CAMOBAP opened #79 "Windows tests issue"

[2020-06-05 16:49] CAMOBAP commented on #79
The problem is in some tests in spec/acceptance/relaton_fetch_spec.rb

To be continued...

[2020-06-06 16:19] CAMOBAP commented on #79
Trying to dig deeper but don't know how to do this(

@ronaldtse @opoudjis @andrew2net maybe you can suggest me how to move deeper (getting more information before ruby dies (before `Process finished with exit code -1073741819`)

Maybe there are some debug arguments env variables which I can pass to `ruby`?

I have tried `DEBUG` environment variable but it doesn't provide any extra information

[2020-06-06 17:36] ronaldtse commented on #79
@CAMOBAP can we close this?

[2020-06-06 17:44] CAMOBAP commented on #79
@ronaldtse I think yes, I didn't found the exact root why this happens, but the problem is resolved

[2020-06-06 17:44] #79 closed

[2020-06-10 15:56] ronaldtse opened #81 "Crash on Relaton XML conversion via xml2yaml"
From @petithug:

This is rfc0791.xml.

[code]

[2020-06-10 15:57] ronaldtse opened #82 "Crash on Relaton XML conversion via xml2yaml"
From @petithug:

This is rfc0791.xml.

[code]

[2020-06-10 16:35] #82 closed, assigned to andrew2net

[2020-06-11 04:36] ronaldtse commented on #81
Duplicate of #82 .

[2020-06-11 04:36] #81 closed

[2020-06-11 04:37] ronaldtse opened #83 "Create mechanism for Relaton xml/yaml to AsciiBib"
AsciiBib path-style lists:

https://www.relaton.com/specs/asciibib/path/

[2020-08-18 13:24] andrew2net commented on #83
@ronaldtse I've created `to_asciibib` function in all relaton-* gems. Which command do we need to implement in the relaton-cli gem? May be `xml2asciibib`?

[2020-08-19 06:03] ronaldtse commented on #83
Now with so many formats, perhaps the command should be "convert"? i.e. `relaton convert bib.xml -f asciibib -o bib.adoc` ?

[2020-08-29 06:29] ronaldtse commented on #47
@andrew2net could you help elaborate the tasks out? This is getting important.

We need at least these subcommands:

* `relaton collection`
  * `relaton collection create xxx [--dir {}] [--desc {}]`
  * `relaton collection info xxx`
  * `relaton collection list`

* `relaton get {docid} [--collection {coll}] [--details]`
* `relaton find/search {search-string} [--collection {coll}]`
* `relaton fetch

[2020-08-29 10:38] andrew2net commented on #47
@ronaldtse do you mean creating an empty collection in an optionally specified directory, with the filename xxx, and optional description?
In which format it should be? YAML/XML?
I don't see a description in any examples of collection. There are author and title only.

What should output the two commands above?

Do you mean getting a document from a collection file specified in the --collection op

[2020-09-01 11:08] ronaldtse commented on #47
Yes. By default I was thinking to store it in user home `$HOME/.relaton/collections`.

How about YAML?

Title is the description, we can call it "title" or "name" instead.

Command to view information of that collection. e.g. number of items, file size of collection, last updated, name, metadata.

Command to `ls` all collections.

Yes. If the specific collection is omitted we fetch the first match

[2020-09-01 14:17] opoudjis opened #84 "Provide date of generation and gem version on relaton-cli generated collection page"
Pages like https://metanorma.github.io/mn-samples-itu/ do not indicate when they were last generated, and currently they do not seem to have been updated for a couple of months. The Relaton Collection coverpage should include a date of generation.

[2020-09-01 14:17] opoudjis commented on #84
@ronaldtse Please confirm this needs to be done

[2020-09-01 14:57] opoudjis commented on #84
Confirmed

[2020-09-01 14:57] ronaldtse commented on #84
Either in the header or footer. Thanks!

[2020-09-01 14:58] opoudjis commented on #84
Also, add the version of metanorma-cli used to compile the metanorma files.

[2020-10-14 15:47] #84 closed

[2020-10-22 14:18] andrew2net commented on #47
@ronaldtse looks like these 2 commands do the same, don't they?

[2020-10-23 03:32] ronaldtse commented on #47
@andrew2net Maybe you're right. The original intention is to display "human-readable" separate from "machine-readable" output, but perhaps both can be done in the same command.

e.g.
[code]

What do you think?

[2020-10-23 10:28] andrew2net commented on #47
@ronaldtse this looks more consistent. What do you mean by "human-readable"? Something like this:
[code]

[2020-10-23 10:42] ronaldtse commented on #47
Yes exactly.

[2020-10-23 16:50] andrew2net commented on #47
@ronaldtse do we really need to export/import an entire collection? I think we can just copy any collection from one system to another.

[2020-10-23 16:57] ronaldtse commented on #47
Sorry - meant export to a file, so you can send it to another user for importing.

[2020-10-23 22:39] andrew2net commented on #47
@ronaldtse I understand we need a file to send it to another user, but we have each collection stored in a file. So why do we have to export the file to another file? We can send the original file, don't we? Another user just can put the file into collection's directory.

[2020-10-28 13:22] #47 closed

[2021-01-25 00:46] ronaldtse opened #89 "`type` argument should accept lowercase"
Right now the `--type` argument only takes uppercase. Metanorma takes lowercase. We should ignore case regardless.

[code]
Fails.

[code]

[2021-01-25 00:47] ronaldtse opened #90 "Unable to clear cache?"
These messages are shown regardless of how many times I call `relaton fetch`:

[code]

Is there something wrong with clearing of cache?

Full trace:
[code]

[2021-01-25 00:49] ronaldtse opened #91 "Only show debug/verbose messages with verbose flag on"
When one does `relaton fetch` the user only want to see the output, or the error message if the fetch fails.

[code]

The `<===` messages are absolutely unnecessary for normal users. Can we make a `--verbose` (or `-v`) option to display them only when it's turned on?

[2021-01-25 00:56] ronaldtse opened #92 "Relaton DB access (cache `get`, `refresh`) from CLI"
This relates to relaton/relaton#34.

Right now `relaton fetch` only retrieves an entry, but that entry is actually also stored in the global relaton cache at `~/.relaton/cache`.

We should make that cache fully accessible from the CLI, with commands like `get`, `refresh` etc.

The functionality is already mostly implemented in the Relaton library:
https://github.com/relaton/relaton#usage

We just

[2021-01-25 00:56] ronaldtse opened #93 "`format` argument should support Relaton YAML"
Right now we support Relaton XML and BibTeX. We should also support Relaton YAML.

[2021-01-25 00:58] ronaldtse opened #94 "`format` argument should provide plain text citation options, like ISO 690, APA, MLA"
We should allow Relaton to produce plain text citation options, like ISO 690, APA, MLA.

We need to determine where the output formatting should go to given the upcoming ISO 690 model.

Ping @opoudjis for thoughts.

[2021-02-17 10:45] opoudjis commented on #94
Oh God.

The output formatting should go into isodoc, as a Presentation XML option, which a flavour can select. I do not believe it belongs inside of relaton. If it will be generated out of relaton gem, though, it will need to be in Metanorma XML.

[2021-02-25 13:28] andrew2net commented on #90
The cache was cleared but new version files for the flavor gems were created only after fetching the flavor bibitems. Without the version files, relaton produces the warns.
Fixed it and released relaton v 1.7.4

[2021-02-25 13:28] #90 closed

[2021-02-25 17:02] ronaldtse commented on #90
Confirmed fixed. Thanks!

[2021-03-18 17:10] CAMOBAP opened #96 "Ruby 3.0 support"
https://github.com/metanorma/metanorma-cli/pull/233/checks?check_run_id=2129377527

[code]

[2021-03-23 16:43] #89 closed

[2021-03-25 14:29] #93 closed

[2021-03-25 22:37] andrew2net commented on #92
@ronaldtse the `relaton` by default uses a cache DB in a `/home/USER/.relaton/cache/` directory.
If we use commands to move DB or create it in a mandatory directory then `relaton` won't use it because the next commands will use the default directory.
Maybe we need to save the paths to global and local caches in a YAML file and use it for Relaton::Db initialization?

[2021-03-26 18:56] ronaldtse commented on #92
In this case we only want to get/refresh one entry from the user's default Relaton DB.

I do think Relaton can manage multiple DBs (if the user explicitly asks).

Relaton databases:
* Global DB: `~/.relaton/cache` (everyone)
* If user adds a particular location (`relaton db add ~/projects/my-paper/relaton`) then the system should keep track of that it

[2021-03-26 20:01] andrew2net commented on #92
Relaton manages 2 DBs now, local and global. I don't know why we need 2 DBs, @opoudjis has implemented it. The `relaton-cli` uses only one DB now.

Then we need to save the location somewhere, don't we? And when the user [moves DB](https://github.com/relaton/relaton#move-db) shouldn't `relaton-cli` keeps track of it?

[2021-03-27 02:10] ronaldtse commented on #92
@andrew2net:

Local: for processing a document where the Relaton DB can be committed to git. This is optional behavior.

Global: for all other uses, including caching. If the user uses local, the Global cache is still useful for processing across multiple documents (fetch once, use many).

Yes.

Yes and no. If you move a file using `relaton db mv` then yes. If the user moves the db himself, no. Th

[2021-04-02 14:43] #96 closed

[2021-04-05 18:00] ronaldtse opened #98 "Rename "Cache DB" to just "database""
Since Relaton allows multiple databases / datasets, it is now used not only as a cache, so we should rename it to something more generic, such as a "database".

When we specifically refer to the "cache database", we say that -- "local cache database" vs "global cache database".

[2021-04-06 08:55] #91 closed

[2021-04-06 08:55] #92 closed

[2021-04-06 15:06] andrew2net commented on #94
@ronaldtse it isn't clear to me where the relaton could produce a plain citation. Could you explain the details?

[2021-04-12 11:53] andrew2net commented on #98
@ronaldtse what do you mean "multiple databases / datasets"? Do you mean collections should be handled as a database along with cache?
The relaton-cli handles collections and cache separately, so in the README the term "cache DB" used in command descriptions related to cache.
Should command `relaton fetch` search documents in collections too? Should DB manipulation #92 handle collections?

[2021-08-11 16:03] ronaldtse commented on #98
@andrew2net I was under the impression that a cache is not different from a database? How are they different?

[2021-08-11 17:19] andrew2net commented on #98
@ronaldtse I didn't say it isn't a database. I was just confused by the word "multiple". Do you mean only 2 caches (global and local)? Are the collections considered as databases also?

[2021-08-16 09:41] ronaldtse opened #100 "Add auto-release workflow"
Refer to others. e.g. https://github.com/interscript/interscript/blob/master/.github/workflows/release.yml

[2021-08-18 14:05] #98 closed

[2021-12-14 03:47] ronaldtse opened #102 "Rename default branch to `main`"

[2021-12-14 03:47] ronaldtse commented on #102
Done.

[2021-12-14 03:47] #102 closed

[2022-07-27 03:26] ronaldtse opened #104 "Provide `bibdata` in relaton-cli output"
The `editorialgroup/committee` element is rendered inside the `ext` element, but the `relaton-cli` renders output as `bibitem`.

Only documents rendered as `bibdata` have flavor specified `ext` element. I don't know why the `relaton-cli` outputs documents in basic form, not flavor specific.

We need to update `relaton-cli` to output `bibdata`.

_Originally posted by @andrew2net in https://github.c

[2022-07-27 11:27] #104 closed

[2022-11-29 13:40] #100 closed